[submodule "Pistachio/vendor/spdlog"]
	path = Pistachio/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pistachio/vendor/spdlog/"]
	branch = v1.10.0
[submodule "Pistachio/vendor/GLFW"]
	path = Pistachio/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Pistachio/vendor/imgui"]
	path = Pistachio/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Pistachio/vendor/glm"]
	path = Pistachio/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Pistachio/vendor/glm/"]
	branch = 0.9.9.8
