# Visual Studio files and directories
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Binary directories
**/bin/**/
intermediates/
bin-int/

!vendor/premake/bin/  # Keep premake bin directory

# Project directories
Pistachio/vendor/VulkanSDK
Hat/assets/scenes
Hat/assets/cache

# Files / File types
**/imgui.ini
**/*.json
**/*.pistachio
**/*.vert
**/*.frag
