# Visual Studio files and directories
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# VSCode project files
.vscode/

# Binary directories
**/bin/**/
intermediates/
bin-int/

!vendor/premake/bin/  # Keep premake bin directory

# Project directories
Pistachio/vendor/VulkanSDK
Pistachio/vendor/vulkan
Hat/assets/scenes
Hat/assets/cache

# Files / File types
**/imgui.ini
**/*.json
**/*.pistachio
**/*.vert
**/*.frag
**/*.swp
Makefile
